<header class = "background_cover_who" 
      style = "background-image:url(<%= asset_path "coding.jpg" %>); padding-top:10px" >
<!-- bar 시작 -->
    <div class ="container">
        <ul class="nav nav-pills" style="float:right">
            <li role="presentation" class="clickable"><a href="/">메인</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/home/who">Who am I?</a></li>
                  <li><a id="diary" href="#">Diary</a></li>
                  <li><a href="/home/plan">Plan</a></li>
                  <li><a href="/home/coding">Coding</a></li>
                  <li><a href="/home/picture">Picture</a></li>
                </ul>
            </li>
        </ul>
    </div>
<!-- bar 끝 -->
    <div class="background_cover_in" style="padding-top:150px; padding-bottom:150px">
        <div class="background_cover_in_in">
            <div style="font-size:32px">
                <strong>
                    Coding
                </strong>
            </div>
        </div>
    </div>
</header>

<div class = "container">
  <div class ="row" style="width:80%; margin:auto;min-height: 20px; padding: 10px">
      <div style = "margin-bottom:5px; float:right">
        <div class="dropdown">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a project
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% @projects.each do |p| %>
              <li>
                <div class ="row"style="margin:auto; text-align:center">
                  <div class ="col-md-10 col-sm-10 col-xs-10">
                    <a href="/home/detail_project/<%=p.id%>"><%=p.project_name%></a>
                  </div>
                  <div calss ="col-md-2 col-sm-2 col-xs-10">
                    <a href="/home/delete_project/<%=p.id%>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <a href="/home/new_project" type="button" class="btn btn-default btn-xs">New Project</a>
        <a href="/home/write_coding" type="button" class="btn btn-default btn-xs">글쓰기</a>
      </div>     
  </div>
</div>

<div style="background-img:url('')">
