<header class = "background_cover_who" 
        style = "background-image:url(<%= asset_path "who.jpg" %>); padding-top:10px" >
<!-- bar 시작 -->
    <div class ="container">
        <ul class="nav nav-pills" style="float:right">
            <li role="presentation" class="clickable"><a href="/">메인</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/home/who">Who am I?</a></li>
                  <li><a id="diary" href="#">Diary</a></li>
                  <li><a href="/home/plan">Plan</a></li>
                  <li><a href="/home/coding">Coding</a></li>
                  <li><a href="/home/picture">Picture</a></li>
                </ul>
            </li>
        </ul>
    </div>
<!-- bar 끝 -->
    <div class="background_cover_in" style="padding-top:150px; padding-bottom:150px">
        <div class="background_cover_in_in">
            <div style="font-size:32px">
                <strong>
                    Who am I?
                </strong>
            </div>
        </div>
    </div>
</header>
<hr class="container featurette-divider" style="margin-top:20px; margin-bottom:20px; width: 80%">
<div class ="container">
    <div class ="row">
        <div class = "col-md-6 col-sm-6" style="float: right; text-align:center !important">
            <img src="https://s3.ap-northeast-2.amazonaws.com/boblog/uploads/picture/my_image/1/me.jpg" style = "width:300px; height:400px">
        </div>
        <div class = "col-md-6 col-sm-6" style ="text-align:center; margin-top:50px">
            <h2> I </h2>
            <h3>want to be</h3>
            <h1> a intelligent programmer!! </h1>
        </div>
    </div>
</div>
