<!DOCTYPE html>
<html>
<head>
  <title>Bo's blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
          crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
        crossorigin="anonymous">





</head>
<body>

<%= yield %>
  <hr class="container featurette-divider" style="margin-top:50px; margin-bottom:50px; width:1140px">
  <div class = "container">
    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 GNB, Bokyeong Cheon.</p>
    </footer>
  </div>

  <script>
    $(document).ready(function(){
        $("#diary").click(function(){
            var password = "adminisbo";
            var pass = prompt("only for bo!!");
            if(password == pass){
                location.href="/home/diary";
            }
        });
    });
  </script>


</body>
</html>